body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda a altura da tela */
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 0;
}
#barra {
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#barra h1 {
  font-size: 2em;
  margin: 0;
}

.container {
  width: 100%; /* Ocupa toda a largura da tela */
  display: flex;
  flex-direction: column; /* Layout em coluna */
  align-items: center; /* Alinha o conteúdo horizontalmente */
}

.separator {
  height: 100vh; /* Altura igual à altura da tela */
  width: 1px; /* Largura da linha vertical */
  background-color: #000; /* Cor da linha vertical */
  margin-left: 10px; /* Adiciona espaço à esquerda */
}

.right, .left {
  padding: 20px;
}

.right {
  border-left: 1px solid #ccc;
}

.left {
  padding-right: 20px; /* Ajuste o valor conforme necessário para mover mais para a esquerda */
  align-self: flex-start; /* Alinha à parte superior */
}

.form-container {
  display: flex;
  flex-direction: row; /* Layout em linha */
  align-items: flex-start; /* Alinha ao topo */
}

form {
  margin-bottom: 20px;
}

.button1, .button2 {
  padding: 10px 20px;
  margin-right: 10px;
}

h4 {
  text-align: center; /* Alinha o texto "Tipo de Utilizador" ao centro */
}

.user-options {
  display: flex;
  flex-direction: column; /* Alinha verticalmente */
  align-items: center; /* Alinha horizontalmente */
  padding: 20px;
}



